12345678												//ID of the codingame.com account taken from the FAQ page
password123												//Password of the codingame.com account
chat.codingame.com 										//Host
5222													//Port
conference.codingame.com 								//MUC
Neumam													//Nickname of the bot
Automaton2000 AgadeBot PeopleWhoTalkBadlyIDontWantToLearnFrom
general_fr general                             		//Rooms to join
